<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97fbdb">  <td>21/06/01 13:56:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;HomeTest.initialize()[pri:0, instance:bigbasket.BigBasket.HomeTest@340b9973]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1338905451</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/06/01 13:57:06</td>   <td>11967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.HomePageTitleTest()[pri:1, instance:bigbasket.BigBasket.HomeTest@340b9973]">HomePageTitleTest</td> 
  <td>main@1338905451</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/06/01 13:57:06</td>   <td>11996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.HomePageSearch()[pri:2, instance:bigbasket.BigBasket.HomeTest@340b9973]">HomePageSearch</td> 
  <td>main@1338905451</td>   <td></td> </tr>
<tr bgcolor="97fbdb">  <td>21/06/01 13:57:27</td>   <td>32550</td> <td>&nbsp;</td><td title="&lt;&lt;HomeTest.tearDown()[pri:0, instance:bigbasket.BigBasket.HomeTest@340b9973]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1338905451</td>   <td></td> </tr>
</table>
